body {
    margin: 0;
    padding: 0;
    background-color: #FF5733;
    font-family: Helvetica, sans-serif;
}
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    margin: auto;
    background-color: #FFFFFF;
    text-align: center;
}
header h1 {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 1.50em;
}
#general-main {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: 0;
}
.div-p {
    padding: 10px;
    font-size: 1em;
}
.main-div, #main-div {
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
    background-color: #FFFFFF;
}
#main-div img {
    flex-grow: 3;
    width: 100%;
}
footer {
    padding: 30px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}